asgiref==3.8.1
asn1crypto==1.5.1
astroid==3.1.0
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
autopep8==2.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
crispy-bootstrap4==2024.1
cryptography==42.0.6
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.4
django-allauth==0.62.1
django-countries==7.6.1
django-crispy-forms==2.1
django-heroku==0.3.1
django-tinymce4-lite==1.8.0
filelock==3.14.0
gunicorn==22.0.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
isort==5.13.2
jsmin==3.0.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
oauthlib==3.2.2
packaging==24.0
pep8==1.7.1
pillow==10.3.0
platformdirs==4.2.1
psycopg2==2.9.9
pycodestyle==2.11.1
pycparser==2.22
PyHamcrest==2.1.0
pylint==3.1.0
python3-openid==3.2.0
pytz==2024.1
pywatchman==2.0.0
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.5.0
stripe==9.5.0
tomlkit==0.12.4
txaio==23.1.1
typed-ast==1.5.5
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.1
virtualenvwrapper-win==1.2.7
whitenoise==6.6.0
wrapt==1.16.0
zope.interface==6.3
